/*general*/
*{
    margin:0;
    color: beige;
}
/*fin general*/

/*header*/
header{
    background-color: #A63740;
}

.close i {
    font-size: x-large;
    color: beige;
    margin: 5px 10px 0 0;
}

#tete{
    display: flex;
}
.title{
    flex:1;
    text-align: center;
}
/*fin header*/

/*main*/
main{
    /*background-color:#ff0008;*/
    background: linear-gradient(90deg,red, black),url(/images/cover.png);
    background-position: right;
    background-repeat: no-repeat;
    display: inline-flex;
    width: -webkit-fill-available;
}

#imgz {
    margin: 20px 30px 10px 30px;
}

#presentation {
    align-self: flex-end;
}
#presentation div{
    margin-top: 15px;
    margin-bottom: 15px;
}

#presentation ul {
display: inline-flex;
flex-wrap: wrap;
padding: 0;

}
.genre li {
    margin: 0 10px 0 20px;
    padding: 0 0 0 5px;
}
.genre_bis li:first-child {list-style-type: none;}

/*.couleur_fond {
    background: linear-gradient(90deg,red, black);
    display: inline-flex;
    width: -webkit-fill-available;
}*/

/*fin main*/

/*Footer*/
footer{
    background-color: #1D2126;
}
.description_bas ul {
    list-style: none;
    display: inline-flex;
}

.description_bas li {
    margin: 0 10px 0 20px;
    padding: 0 0 0 5px;
    border-bottom: transparent solid 3px;
}
.description_bas>ul li:hover {
    border-bottom:white solid 3px;
    color: white;
}
figure {
    display: inline-flex;
    flex-direction: column;
    
}

figure:hover figcaption{
    color: red;
}
figure:hover img {
    filter: opacity(0.8);
}

figcaption {
    color: white;
    align-self: center;
}
.slider {
    display: inline-flex;
} 
/*fin footer*/